body {
    font-family: Arial, sans-serif;
    margin: 200px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}


.main-container {
    background-color: #fff;
    padding: 20px;
    width: 60%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.header-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

.header-container img {
    max-width: 150px; 
    margin-right: 5px;
    margin-right: 20px; 
}

.header-text {
    flex-grow: 1;
    text-align: center;
}

.header-text h1 {
    margin: 0;
    margin-right: 180px;
    font-size: 2.5em;
}

.header-text p {
    margin: 5px 0 0;
    margin-right: 180px;
    font-size: 1.2em;
    color: #555;
}

.content-container {
    display: flex;
    justify-content: space-between;
}

.left-container,
.right-container {
    width: 45%;
}


.left-container ul {
    list-style-type: none;
    padding: 0;
}

.left-container li {
    background-color: #e0e0e0;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}


.skill {
    margin-bottom: 15px;
}

.skill p {
    margin: 0 0 5px;
}

.skill-bar {
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
}

.skill-level {
    padding: 10px;
    color: #fff;
    text-align: right;
    border-radius: 5px;
}

.html {
    width: 75%;
    background-color: #f16529;
}

.css {
    width: 75%;
    background-color: #2965f1;
}

.js {
    width: 80%;
    background-color: #f0db4f;
}

.prompt-engineer {
    width: 95%;
    background-color: #8e44ad; 
}

.react {
    width: 100%;
    background-color: #61dafb; 
    color: #000; 
    text-align: left; 
    padding-left: 10px; 
}


.additional-info {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.info-left,
.info-right {
    width: 48%;
}

.info-left h2,
.info-right h2 {
    margin-top: 0;
    font-size: 1.8em;
    color: #333;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.info-left ul {
    list-style-type: none;
    padding: 0;
}

.info-left ul li {
    margin-bottom: 10px;
    font-size: 1.1em;
    color: #666;
}

.info-right p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #666;
}
